/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  
}

.login100-form-btn {
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
 
  padding: 0 10px;
  min-width: 100px;
  height: 55px;
  background-color: #FA8072;
  border-radius: 27px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background-color: #FA8072;
}